html
{
	background-image: url("images/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-color: hsla(0, 50%, 50%, 0.25);
}

@media (min-width: 0px) { html { background-color: hsla(0, 50%, 50%, 0.25); } }
@media (min-width: 10px) { html { background-color: hsla(2, 50%, 50%, 0.25); } }
@media (min-width: 20px) { html { background-color: hsla(4, 50%, 50%, 0.25); } }
@media (min-width: 30px) { html { background-color: hsla(6, 50%, 50%, 0.25); } }
@media (min-width: 40px) { html { background-color: hsla(8, 50%, 50%, 0.25); } }
@media (min-width: 50px) { html { background-color: hsla(10, 50%, 50%, 0.25); } }
@media (min-width: 60px) { html { background-color: hsla(12, 50%, 50%, 0.25); } }
@media (min-width: 70px) { html { background-color: hsla(14, 50%, 50%, 0.25); } }
@media (min-width: 80px) { html { background-color: hsla(16, 50%, 50%, 0.25); } }
@media (min-width: 90px) { html { background-color: hsla(18, 50%, 50%, 0.25); } }
@media (min-width: 100px) { html { background-color: hsla(20, 50%, 50%, 0.25); } }
@media (min-width: 110px) { html { background-color: hsla(22, 50%, 50%, 0.25); } }
@media (min-width: 120px) { html { background-color: hsla(24, 50%, 50%, 0.25); } }
@media (min-width: 130px) { html { background-color: hsla(26, 50%, 50%, 0.25); } }
@media (min-width: 140px) { html { background-color: hsla(28, 50%, 50%, 0.25); } }
@media (min-width: 150px) { html { background-color: hsla(30, 50%, 50%, 0.25); } }
@media (min-width: 160px) { html { background-color: hsla(32, 50%, 50%, 0.25); } }
@media (min-width: 170px) { html { background-color: hsla(34, 50%, 50%, 0.25); } }
@media (min-width: 180px) { html { background-color: hsla(36, 50%, 50%, 0.25); } }
@media (min-width: 190px) { html { background-color: hsla(38, 50%, 50%, 0.25); } }
@media (min-width: 200px) { html { background-color: hsla(40, 50%, 50%, 0.25); } }
@media (min-width: 210px) { html { background-color: hsla(42, 50%, 50%, 0.25); } }
@media (min-width: 220px) { html { background-color: hsla(44, 50%, 50%, 0.25); } }
@media (min-width: 230px) { html { background-color: hsla(46, 50%, 50%, 0.25); } }
@media (min-width: 240px) { html { background-color: hsla(48, 50%, 50%, 0.25); } }
@media (min-width: 250px) { html { background-color: hsla(50, 50%, 50%, 0.25); } }
@media (min-width: 260px) { html { background-color: hsla(52, 50%, 50%, 0.25); } }
@media (min-width: 270px) { html { background-color: hsla(54, 50%, 50%, 0.25); } }
@media (min-width: 280px) { html { background-color: hsla(56, 50%, 50%, 0.25); } }
@media (min-width: 290px) { html { background-color: hsla(58, 50%, 50%, 0.25); } }
@media (min-width: 300px) { html { background-color: hsla(60, 50%, 50%, 0.25); } }
@media (min-width: 310px) { html { background-color: hsla(62, 50%, 50%, 0.25); } }
@media (min-width: 320px) { html { background-color: hsla(64, 50%, 50%, 0.25); } }
@media (min-width: 330px) { html { background-color: hsla(66, 50%, 50%, 0.25); } }
@media (min-width: 340px) { html { background-color: hsla(68, 50%, 50%, 0.25); } }
@media (min-width: 350px) { html { background-color: hsla(70, 50%, 50%, 0.25); } }
@media (min-width: 360px) { html { background-color: hsla(72, 50%, 50%, 0.25); } }
@media (min-width: 370px) { html { background-color: hsla(74, 50%, 50%, 0.25); } }
@media (min-width: 380px) { html { background-color: hsla(76, 50%, 50%, 0.25); } }
@media (min-width: 390px) { html { background-color: hsla(78, 50%, 50%, 0.25); } }
@media (min-width: 400px) { html { background-color: hsla(80, 50%, 50%, 0.25); } }
@media (min-width: 410px) { html { background-color: hsla(82, 50%, 50%, 0.25); } }
@media (min-width: 420px) { html { background-color: hsla(84, 50%, 50%, 0.25); } }
@media (min-width: 430px) { html { background-color: hsla(86, 50%, 50%, 0.25); } }
@media (min-width: 440px) { html { background-color: hsla(88, 50%, 50%, 0.25); } }
@media (min-width: 450px) { html { background-color: hsla(90, 50%, 50%, 0.25); } }
@media (min-width: 460px) { html { background-color: hsla(92, 50%, 50%, 0.25); } }
@media (min-width: 470px) { html { background-color: hsla(94, 50%, 50%, 0.25); } }
@media (min-width: 480px) { html { background-color: hsla(96, 50%, 50%, 0.25); } }
@media (min-width: 490px) { html { background-color: hsla(98, 50%, 50%, 0.25); } }
@media (min-width: 500px) { html { background-color: hsla(100, 50%, 50%, 0.25); } }
@media (min-width: 510px) { html { background-color: hsla(102, 50%, 50%, 0.25); } }
@media (min-width: 520px) { html { background-color: hsla(104, 50%, 50%, 0.25); } }
@media (min-width: 530px) { html { background-color: hsla(106, 50%, 50%, 0.25); } }
@media (min-width: 540px) { html { background-color: hsla(108, 50%, 50%, 0.25); } }
@media (min-width: 550px) { html { background-color: hsla(110, 50%, 50%, 0.25); } }
@media (min-width: 560px) { html { background-color: hsla(112, 50%, 50%, 0.25); } }
@media (min-width: 570px) { html { background-color: hsla(114, 50%, 50%, 0.25); } }
@media (min-width: 580px) { html { background-color: hsla(116, 50%, 50%, 0.25); } }
@media (min-width: 590px) { html { background-color: hsla(118, 50%, 50%, 0.25); } }
@media (min-width: 600px) { html { background-color: hsla(120, 50%, 50%, 0.25); } }
@media (min-width: 610px) { html { background-color: hsla(122, 50%, 50%, 0.25); } }
@media (min-width: 620px) { html { background-color: hsla(124, 50%, 50%, 0.25); } }
@media (min-width: 630px) { html { background-color: hsla(126, 50%, 50%, 0.25); } }
@media (min-width: 640px) { html { background-color: hsla(128, 50%, 50%, 0.25); } }
@media (min-width: 650px) { html { background-color: hsla(130, 50%, 50%, 0.25); } }
@media (min-width: 660px) { html { background-color: hsla(132, 50%, 50%, 0.25); } }
@media (min-width: 670px) { html { background-color: hsla(134, 50%, 50%, 0.25); } }
@media (min-width: 680px) { html { background-color: hsla(136, 50%, 50%, 0.25); } }
@media (min-width: 690px) { html { background-color: hsla(138, 50%, 50%, 0.25); } }
@media (min-width: 700px) { html { background-color: hsla(140, 50%, 50%, 0.25); } }
@media (min-width: 710px) { html { background-color: hsla(142, 50%, 50%, 0.25); } }
@media (min-width: 720px) { html { background-color: hsla(144, 50%, 50%, 0.25); } }
@media (min-width: 730px) { html { background-color: hsla(146, 50%, 50%, 0.25); } }
@media (min-width: 740px) { html { background-color: hsla(148, 50%, 50%, 0.25); } }
@media (min-width: 750px) { html { background-color: hsla(150, 50%, 50%, 0.25); } }
@media (min-width: 760px) { html { background-color: hsla(152, 50%, 50%, 0.25); } }
@media (min-width: 770px) { html { background-color: hsla(154, 50%, 50%, 0.25); } }
@media (min-width: 780px) { html { background-color: hsla(156, 50%, 50%, 0.25); } }
@media (min-width: 790px) { html { background-color: hsla(158, 50%, 50%, 0.25); } }
@media (min-width: 800px) { html { background-color: hsla(160, 50%, 50%, 0.25); } }
@media (min-width: 810px) { html { background-color: hsla(162, 50%, 50%, 0.25); } }
@media (min-width: 820px) { html { background-color: hsla(164, 50%, 50%, 0.25); } }
@media (min-width: 830px) { html { background-color: hsla(166, 50%, 50%, 0.25); } }
@media (min-width: 840px) { html { background-color: hsla(168, 50%, 50%, 0.25); } }
@media (min-width: 850px) { html { background-color: hsla(170, 50%, 50%, 0.25); } }
@media (min-width: 860px) { html { background-color: hsla(172, 50%, 50%, 0.25); } }
@media (min-width: 870px) { html { background-color: hsla(174, 50%, 50%, 0.25); } }
@media (min-width: 880px) { html { background-color: hsla(176, 50%, 50%, 0.25); } }
@media (min-width: 890px) { html { background-color: hsla(178, 50%, 50%, 0.25); } }
@media (min-width: 900px) { html { background-color: hsla(180, 50%, 50%, 0.25); } }
@media (min-width: 910px) { html { background-color: hsla(182, 50%, 50%, 0.25); } }
@media (min-width: 920px) { html { background-color: hsla(184, 50%, 50%, 0.25); } }
@media (min-width: 930px) { html { background-color: hsla(186, 50%, 50%, 0.25); } }
@media (min-width: 940px) { html { background-color: hsla(188, 50%, 50%, 0.25); } }
@media (min-width: 950px) { html { background-color: hsla(190, 50%, 50%, 0.25); } }
@media (min-width: 960px) { html { background-color: hsla(192, 50%, 50%, 0.25); } }
@media (min-width: 970px) { html { background-color: hsla(194, 50%, 50%, 0.25); } }
@media (min-width: 980px) { html { background-color: hsla(196, 50%, 50%, 0.25); } }
@media (min-width: 990px) { html { background-color: hsla(198, 50%, 50%, 0.25); } }
@media (min-width: 1000px) { html { background-color: hsla(200, 50%, 50%, 0.25); } }
@media (min-width: 1010px) { html { background-color: hsla(202, 50%, 50%, 0.25); } }
@media (min-width: 1020px) { html { background-color: hsla(204, 50%, 50%, 0.25); } }
@media (min-width: 1030px) { html { background-color: hsla(206, 50%, 50%, 0.25); } }
@media (min-width: 1040px) { html { background-color: hsla(208, 50%, 50%, 0.25); } }
@media (min-width: 1050px) { html { background-color: hsla(210, 50%, 50%, 0.25); } }
@media (min-width: 1060px) { html { background-color: hsla(212, 50%, 50%, 0.25); } }
@media (min-width: 1070px) { html { background-color: hsla(214, 50%, 50%, 0.25); } }
@media (min-width: 1080px) { html { background-color: hsla(216, 50%, 50%, 0.25); } }
@media (min-width: 1090px) { html { background-color: hsla(218, 50%, 50%, 0.25); } }
@media (min-width: 1100px) { html { background-color: hsla(220, 50%, 50%, 0.25); } }
@media (min-width: 1110px) { html { background-color: hsla(222, 50%, 50%, 0.25); } }
@media (min-width: 1120px) { html { background-color: hsla(224, 50%, 50%, 0.25); } }
@media (min-width: 1130px) { html { background-color: hsla(226, 50%, 50%, 0.25); } }
@media (min-width: 1140px) { html { background-color: hsla(228, 50%, 50%, 0.25); } }
@media (min-width: 1150px) { html { background-color: hsla(230, 50%, 50%, 0.25); } }
@media (min-width: 1160px) { html { background-color: hsla(232, 50%, 50%, 0.25); } }
@media (min-width: 1170px) { html { background-color: hsla(234, 50%, 50%, 0.25); } }
@media (min-width: 1180px) { html { background-color: hsla(236, 50%, 50%, 0.25); } }
@media (min-width: 1190px) { html { background-color: hsla(238, 50%, 50%, 0.25); } }
@media (min-width: 1200px) { html { background-color: hsla(240, 50%, 50%, 0.25); } }
@media (min-width: 1210px) { html { background-color: hsla(242, 50%, 50%, 0.25); } }
@media (min-width: 1220px) { html { background-color: hsla(244, 50%, 50%, 0.25); } }
@media (min-width: 1230px) { html { background-color: hsla(246, 50%, 50%, 0.25); } }
@media (min-width: 1240px) { html { background-color: hsla(248, 50%, 50%, 0.25); } }
@media (min-width: 1250px) { html { background-color: hsla(250, 50%, 50%, 0.25); } }
@media (min-width: 1260px) { html { background-color: hsla(252, 50%, 50%, 0.25); } }
@media (min-width: 1270px) { html { background-color: hsla(254, 50%, 50%, 0.25); } }
@media (min-width: 1280px) { html { background-color: hsla(256, 50%, 50%, 0.25); } }
@media (min-width: 1290px) { html { background-color: hsla(258, 50%, 50%, 0.25); } }
@media (min-width: 1300px) { html { background-color: hsla(260, 50%, 50%, 0.25); } }
@media (min-width: 1310px) { html { background-color: hsla(262, 50%, 50%, 0.25); } }
@media (min-width: 1320px) { html { background-color: hsla(264, 50%, 50%, 0.25); } }
@media (min-width: 1330px) { html { background-color: hsla(266, 50%, 50%, 0.25); } }
@media (min-width: 1340px) { html { background-color: hsla(268, 50%, 50%, 0.25); } }
@media (min-width: 1350px) { html { background-color: hsla(270, 50%, 50%, 0.25); } }
@media (min-width: 1360px) { html { background-color: hsla(272, 50%, 50%, 0.25); } }
@media (min-width: 1370px) { html { background-color: hsla(274, 50%, 50%, 0.25); } }
@media (min-width: 1380px) { html { background-color: hsla(276, 50%, 50%, 0.25); } }
@media (min-width: 1390px) { html { background-color: hsla(278, 50%, 50%, 0.25); } }
@media (min-width: 1400px) { html { background-color: hsla(280, 50%, 50%, 0.25); } }
@media (min-width: 1410px) { html { background-color: hsla(282, 50%, 50%, 0.25); } }
@media (min-width: 1420px) { html { background-color: hsla(284, 50%, 50%, 0.25); } }
@media (min-width: 1430px) { html { background-color: hsla(286, 50%, 50%, 0.25); } }
@media (min-width: 1440px) { html { background-color: hsla(288, 50%, 50%, 0.25); } }
@media (min-width: 1450px) { html { background-color: hsla(290, 50%, 50%, 0.25); } }
@media (min-width: 1460px) { html { background-color: hsla(292, 50%, 50%, 0.25); } }
@media (min-width: 1470px) { html { background-color: hsla(294, 50%, 50%, 0.25); } }
@media (min-width: 1480px) { html { background-color: hsla(296, 50%, 50%, 0.25); } }
@media (min-width: 1490px) { html { background-color: hsla(298, 50%, 50%, 0.25); } }
@media (min-width: 1500px) { html { background-color: hsla(300, 50%, 50%, 0.25); } }
@media (min-width: 1510px) { html { background-color: hsla(302, 50%, 50%, 0.25); } }
@media (min-width: 1520px) { html { background-color: hsla(304, 50%, 50%, 0.25); } }
@media (min-width: 1530px) { html { background-color: hsla(306, 50%, 50%, 0.25); } }
@media (min-width: 1540px) { html { background-color: hsla(308, 50%, 50%, 0.25); } }
@media (min-width: 1550px) { html { background-color: hsla(310, 50%, 50%, 0.25); } }
@media (min-width: 1560px) { html { background-color: hsla(312, 50%, 50%, 0.25); } }
@media (min-width: 1570px) { html { background-color: hsla(314, 50%, 50%, 0.25); } }
@media (min-width: 1580px) { html { background-color: hsla(316, 50%, 50%, 0.25); } }
@media (min-width: 1590px) { html { background-color: hsla(318, 50%, 50%, 0.25); } }
@media (min-width: 1600px) { html { background-color: hsla(320, 50%, 50%, 0.25); } }
@media (min-width: 1610px) { html { background-color: hsla(322, 50%, 50%, 0.25); } }
@media (min-width: 1620px) { html { background-color: hsla(324, 50%, 50%, 0.25); } }
@media (min-width: 1630px) { html { background-color: hsla(326, 50%, 50%, 0.25); } }
@media (min-width: 1640px) { html { background-color: hsla(328, 50%, 50%, 0.25); } }
@media (min-width: 1650px) { html { background-color: hsla(330, 50%, 50%, 0.25); } }
@media (min-width: 1660px) { html { background-color: hsla(332, 50%, 50%, 0.25); } }
@media (min-width: 1670px) { html { background-color: hsla(334, 50%, 50%, 0.25); } }
@media (min-width: 1680px) { html { background-color: hsla(336, 50%, 50%, 0.25); } }
@media (min-width: 1690px) { html { background-color: hsla(338, 50%, 50%, 0.25); } }
@media (min-width: 1700px) { html { background-color: hsla(340, 50%, 50%, 0.25); } }
@media (min-width: 1710px) { html { background-color: hsla(342, 50%, 50%, 0.25); } }
@media (min-width: 1720px) { html { background-color: hsla(344, 50%, 50%, 0.25); } }
@media (min-width: 1730px) { html { background-color: hsla(346, 50%, 50%, 0.25); } }
@media (min-width: 1740px) { html { background-color: hsla(348, 50%, 50%, 0.25); } }
@media (min-width: 1750px) { html { background-color: hsla(350, 50%, 50%, 0.25); } }
@media (min-width: 1760px) { html { background-color: hsla(352, 50%, 50%, 0.25); } }
@media (min-width: 1770px) { html { background-color: hsla(354, 50%, 50%, 0.25); } }
@media (min-width: 1780px) { html { background-color: hsla(356, 50%, 50%, 0.25); } }
@media (min-width: 1790px) { html { background-color: hsla(358, 50%, 50%, 0.25); } }
@media (min-width: 1800px) { html { background-color: hsla(360, 50%, 50%, 0.25); } }
@media (min-width: 1810px) { html { background-color: hsla(362, 50%, 50%, 0.25); } }
@media (min-width: 1820px) { html { background-color: hsla(364, 50%, 50%, 0.25); } }
@media (min-width: 1830px) { html { background-color: hsla(366, 50%, 50%, 0.25); } }
@media (min-width: 1840px) { html { background-color: hsla(368, 50%, 50%, 0.25); } }
@media (min-width: 1850px) { html { background-color: hsla(370, 50%, 50%, 0.25); } }
@media (min-width: 1860px) { html { background-color: hsla(372, 50%, 50%, 0.25); } }
@media (min-width: 1870px) { html { background-color: hsla(374, 50%, 50%, 0.25); } }
@media (min-width: 1880px) { html { background-color: hsla(376, 50%, 50%, 0.25); } }
@media (min-width: 1890px) { html { background-color: hsla(378, 50%, 50%, 0.25); } }
@media (min-width: 1900px) { html { background-color: hsla(380, 50%, 50%, 0.25); } }
@media (min-width: 1910px) { html { background-color: hsla(382, 50%, 50%, 0.25); } }
@media (min-width: 1920px) { html { background-color: hsla(384, 50%, 50%, 0.25); } }
@media (min-width: 1930px) { html { background-color: hsla(386, 50%, 50%, 0.25); } }
@media (min-width: 1940px) { html { background-color: hsla(388, 50%, 50%, 0.25); } }
@media (min-width: 1950px) { html { background-color: hsla(390, 50%, 50%, 0.25); } }
@media (min-width: 1960px) { html { background-color: hsla(392, 50%, 50%, 0.25); } }
@media (min-width: 1970px) { html { background-color: hsla(394, 50%, 50%, 0.25); } }
@media (min-width: 1980px) { html { background-color: hsla(396, 50%, 50%, 0.25); } }
@media (min-width: 1990px) { html { background-color: hsla(398, 50%, 50%, 0.25); } }
@media (min-width: 2000px) { html { background-color: hsla(400, 50%, 50%, 0.25); } }
